
<header class="header">
  <div class="container">
    <div class="btn-menu">
      <label for="btn-menu">☰</label>
    </div>
    <div class="logo">
      <a href="/">
        <h1>Que Vemos?</h1>
      </a>
    </div>
    <nav class="menu">
      <a [routerLink]="['favoritos']">Favoritos</a>
      <a [routerLink]="['/nosotros']">Nosotros</a>
      
      <a [routerLink]="['/sesionLogin']">Iniciar Sesion</a>
      <a [routerLink]="['/sesionRegister']">Registrarse</a>
    </nav>
  </div>
</header>

<!--	--------------->
<input type="checkbox" id="btn-menu" />
<div class="container-menu" style="z-index: 9999">
  <div class="cont-menu">
    <nav>
      <a >CATEGORIAS</a>
      <a [routerLink]="['/categorias/Action']">Acción</a>
      <a [routerLink]="['/categorias/Animation']">Animación</a>
      <a [routerLink]="['/categorias/Comedy']">Comedia</a>
      <a [routerLink]="['/categorias/Sci-Fi']">Ciencia Ficción</a>
      <a [routerLink]="['/categorias/Family']">Familiar</a>
      <a [routerLink]="['/categorias/Drama']">Drama</a>
      <a [routerLink]="['/categorias/Fantasy']">Fantasia</a>
      <a [routerLink]="['/categorias/Musical']">Musical</a>
      <a [routerLink]="['/categorias/Mystery']">Misterio</a>
      <a [routerLink]="['/categorias/Romance']">Romance</a>
      <a [routerLink]="['/categorias/Thriller']">Suspenso</a>
    </nav>
    <label for="btn-menu">✖️</label>
  </div>
</div>