<app-carousel></app-carousel>
<div class="row container-fluid px-5 py-3" style="margin-top: 20px; margin-right: 0; margin-left: 0;">
	<div class="mx-auto col-2 px-2 pt-2 pb-5 text-center justify-center">
		<img class="col-12" style = "height: 100%;" [src]="'../../../../assets/ad.png'">
	 </div>
  <div class="mx-auto col px-2 pt-2 pb-5 text-center justify-center">
    <app-searcher> </app-searcher>
  </div>
  
</div>
