<div class="row" #container>
  <div class="col-1"></div>
  <div class="col-11">
    <div class="row">
      <div class="col-4 px-2 py-2" *ngFor="let item of pelicula">
        <div class="card">
          <div class="card-body">
            <img
              class="card-img-top"
              [src]="image_base_path + item.poster_path"
              onerror="this.src='../../../../assets/NoImagePlaceholder.png';this.onerror='';"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">{{ item.movie_title }}</h5>
              <p class="card-text">Director: {{ item.director_name }}</p>
              <p class="card-text">{{ item.overview }}</p>
              <a href="#" class="btn btn-primary">Ver Pelicula</a>
              <a
                (click)="quitarFavoritos(item);"
                style="
                  background-color: rgb(255, 9, 9);
                  position: relative;
                  margin: 10px;
                "
                class="btn btn-danger"
                >Eliminar de Favoritos</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
