<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="https://www.disneyplus.com/es-419/movies/toy-story/1Ye1nzUgtF7d">
          <img class="d-block w-100" src="https://i.ibb.co/CJcdS1K/recortada-1.jpg" style="width:1300px; height:400px;" alt="First slide">
        </a>
      </div>
      <div class="carousel-item">
        <a href="https://www.disneyplus.com/es-419/movies/el-extrano-mundo-de-jack/5GjwOj5Rkpz2">
          <img class="d-block w-100" src="https://i.ibb.co/JC9NqsP/recorta-2.jpg" style="width:1300px; height:400px;" alt="Second slide">
        </a>
      </div>
      <div class="carousel-item">
        <a href="https://play.google.com/store/movies/details?id=JbumzEilWzg.P">
          <img class="d-block w-100" src="https://i.ibb.co/yX8LMTx/recortada-3.jpg" style="width:1300px; height:400px;" alt="Third slide">
        </a>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
