<p>Solo ingresa una película de tu agrado y contempla la magia</p>
<div class="wrapper">
  <div class="search-input">
    <a href="" target="_blank" hidden></a>
    <input
      type="text"
      placeholder="Título de la película ..."
      [formControl]="title"
    />
    <div class="autocom-box"></div>
    <div class="icon"><i class="fas fa-search"></i></div>
  </div>

  <div>
    <button class="button" (click)="getRecommendation()">Buscar</button>
  </div>

  <div class="row" #container>
    <div class="col-1"></div>
    <div class="col-11">
      <div class="row">
        <div class="col-4 px-2 py-2" *ngFor="let item of pelicula">
          <div class="card">
            <div class="card-body">
              <img
                class="card-img-top"
                [src]="image_base_path + item.poster_path"
                onerror="this.src='../../../../assets/NoImagePlaceholder.png';this.onerror='';"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">{{ item.movie_title }}</h5>
                <p class="card-text">{{ item.director_name }}</p>
                <p class="card-text">{{ item.title_year }}</p>
                <p class="card-text">{{ item.genres }}</p>
                <a href="#" class="btn btn-primary">Ver Pelicula</a>
                <a
                  (click)="enviarcart(item); showModal()"
                  style="
                    background-color: rgba(236, 17, 28, 0.808);
                    color: white;
                    position: relative;
                    margin: 10px;
                  "
                  class="btn btn-danger"
                  >Agregar a Favoritos</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
