.con-iz{
    position: absolute;
    width: 50%;
    height: 100%;
    background: rgba(4, 9, 63, 0.21);
}

.con-de{
    position: relative;
    left: 50%;
    width: 50%;
    height: 100%;
    background: rgb(255, 255, 255);
}

.mu-iz{
    position: absolute;
    width: 60%;
    height: 60%;
    left: 40%;
    top: 20%;

    background: rgba(255, 123, 0, 0.71);
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.mu-de  {
    position: absolute;
    width: 60%;
    height: 60%;
    right: 40%;
    top: 20%;
    background: rgba(255, 255, 255);
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mu-de-a{
    position: absolute;
    width: 60%;
    height: 14%;
    right: 40%;
    top: 66%;
    background: rgba(255, 255, 255);
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo{
    margin-top: 25%;
    margin-left: 30%;
    width: 40%;
}

.na{
    margin: 0;
    margin-top: 10%;
    text-align: center;
    line-height: 150%;
    color: white;
    font-size: 28px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

label{
    margin-left: 15%;
    margin-bottom: 2%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    color: #000000;
}

.la {
    margin-top: 10%;
    margin-bottom: 2%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

input{
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    line-height: 30px;
    width: 60%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    background: #FFFFFF;
    border: 1px solid #A7A7A7;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.icono{
    width: 8%;
    margin-left: 15%;
}

.boton{
    margin-top: 3%;
    margin-left: 35%;
    line-height: 35px;
    font-size: 16px;
    width: 30%;
    color: white;
    background: rgba(255, 166, 0, 0.85);
    border-radius: 10px;
}
h5{
    margin-top: 4%;
    margin-bottom: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
}
select option,
select {
  width: 80%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
select {
    float: left;
    width: 69%;
    margin-left: 16%;
    margin-top: 4%;
    background-color:white;
    color: black;
    border: 1.5px solid #021b6ce7;
    padding-right: 0;
    position: relative;
}
select:focus{
    background-color: #002f95;
    color: #fff;
    border-color: #002f95;
  }
  select option {
    background-color: #2250a5;
    color: #fff;
  }
  .mu-iz[_ngcontent-crh-c52] {

    top: 10px;
}