
<div class="con-iz">
    <div class="mu-iz">
        <img class="logo" src="https://i.ibb.co/0XQFM9h/quevemos.png">
        <h4 class="na">
            ¿Que <br>Vemos? <br>
        </h4>
    </div>
</div>
<div class="con-de">
    <div class="mu-de">
        <form [formGroup]="loginForm" >

            <h3 class="la"> INICIO DE SESIÓN</h3>
            <br />
            <label> Correo Electronico</label>
            <br />
            <img class="icono" src="https://www.flaticon.es/svg/vstatic/svg/3916/3916631.svg?token=exp=1640197360~hmac=1b2c4919e2b9185c669db88159d10a37">
            <input 
                type="text" 
                name="usuario"
                formControlName="email"
            />
            <br />
            <label> Contraseña</label>
            <br />
            <img class="icono" src="https://image.flaticon.com/icons/png/512/483/483408.png">
            <input 
                type="password" 
                name="password"
                formControlName="password"
            />
            <br />
              <label *ngIf="LoginFailed()" style="color: red;"> Los datos de usuario y/o contraseña son incorrectos.</label>
            <button type="submit" class="boton" (click)="clickEvent(); showModal()" > Ingresar </button>
        </form>
    </div>
    <!--<div class="mu-de-a">
        <h5> Si no tienes una cuenta </h5>
        <button type="button" class="boton" onclick="location.href='/sesionRegister'"> Registrarse </button>
    </div>-->
</div>