<div
  class="row container-fluid px-5 py-3"
  style="margin-top: 20px; margin-right: 0; margin-left: 0"
>
  <div class="mx-auto col-2 px-2 pt-2 pb-5 text-center justify-center">
    <img
      class="col-12"
      style="height: 100%"
      [src]="'../../../../assets/ad.png'"
    />
  </div>
  <div class="mx-auto col px-2 pt-2 pb-5 text-center justify-center">
    <div class="container p-3 my-3 bg-success text-white">
      <h1>Misión</h1>
      <p>
        Proporcionar al público en general un servicio de recomendación de
        películas basado en los gustos del usuario.
      </p>
    </div>

    <div class="container p-3 my-3 bg-primary text-white">
      <h1>Visión</h1>
      <p>
        Mejorar nuestro servicio a tal punto de convertrlo en un servicio
        gratuito útil y recurrente de nuestros clientes. Ser tan útil y práctico
        como una calculadora online.
      </p>
    </div>

    <div class="container p-3 my-3 bg-info text-white">
      <h1>Equipo</h1>
      <p>
        El equipo esta conformado por estudiantes de Ingeniería de Sistemas. Los
        integrantees son :
      </p>
      <ul style="list-style: none;">
        <li>Kevin Mario Quiñones Apaza.</li>
        <li>Darlyng Valery Rondón Escobedo.</li>
        <li>Erick Marcelo Quispe Pari.</li>
        <li>José Luis Monroy Vilcahuaman.</li>
        <li>Cristian Rondán.</li>
      </ul>
    </div>
  </div>
</div>
